<ion-header>

  <ion-navbar>
    <ion-title>view-note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{note.title}}
      </ion-card-title>
      <div class="note-date">{{note.date}}</div>
      <hr/>
      <pre style="font-size: 15px; font-family: Roboto, sans-serif;"><div>{{note.content}}</div></pre>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <button ion-button color="danger" block (click)="openActionSheet(note.createDate)" class="button">
    Delete Note
  </button>
</ion-footer>
