page-home {
  ion-content {

    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #f2fbff;
      opacity: 1;
    }
  }


  .date {
    font-weight: bold;
    color: #888;
    padding-right: 24px;
    font-size: 0.8em;

  }

}
