<ion-header>
  <ion-navbar color="themeA2">
    <ion-title>
      My Notes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <button color="dark"ion-item *ngFor="let note of notes | async" (click)="getNote(note.createDate)" >
      <span class="date">{{ note.date }}</span>
      {{ note.title }}
    </button>
  </ion-list>


  <button color="themeA3" ion-button (click)="addNote()">Add Note</button>
  <button color="themeA3" ion-button (click)="addNote()">Add Notelist</button>
</ion-content>
